/* Header */
header {
    background-image: linear-gradient(to bottom right, #007bff, #0056b3);
}

/* Skills Section */
.skill-item {
    border: 2px solid #007bff;
    border-radius: 10px;
    padding: 20px;
    transition: transform 0.3s ease;
}

.skill-item:hover {
    transform: scale(1.1);
}

/* Projects Section */
.card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}
